In [2]:
import numpy as np
import pandas as pd
import random

In [3]:
# base de datos extraida de kaggle.com sobre lesiones en la NBA entre los años 2010 y 2020
injuries_df = pd.read_csv('injuries_2010-2020.csv')
injuries_df

,Date,Team,Acquired,Relinquished,Notes
0,2010-10-03,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,NaN,Jonas Jerebko,torn right Achilles tendon (out indefinitely)
2,2010-10-06,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,NaN,Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)
...,...,...,...,...,...
27100,2020-09-30,Lakers,Dion Waiters,NaN,activated from IL
27101,2020-10-02,Heat,NaN,Bam Adebayo,strained neck (DTD)
27102,2020-10-02,Heat,NaN,Goran Dragic,placed on IL with torn plantar fascia in left ...
27103,2020-10-02,Heat,Chris Silva,NaN,activated from IL
27104,2020-10-06,Heat,Bam Adebayo,NaN,returned to lineup

In [4]:
injuries_df.describe()

              Date   Team     Acquired Relinquished              Notes
count        27105  27103         9542        17560              27105
unique        2103     32         1111         1156               3114
top     2014-04-16  Spurs  Dwyane Wade   Kevin Love  activated from IL
freq            76   1163           54          101               7342

In [5]:
# muestra aleatoria simple
simple_df = injuries_df.sample(100)
simple_df

,Date,Team,Acquired,Relinquished,Notes
3930,2012-03-11,Bucks,NaN,Shaun Livingston,sprained left ankle (DNP)
1431,2011-02-02,Thunder,Cole Aldrich,NaN,activated from IL
24962,2019-11-02,Jazz,NaN,Ed Davis,placed on IL with fractured fibula in left leg
2843,2012-01-06,Timberwolves,NaN,Malcom Lee,recovering from surgery on left knee to repair...
16645,2016-12-08,Warriors,Damian Jones,NaN,activated from IL
...,...,...,...,...,...
19299,2017-10-30,Raptors,NaN,Serge Ibaka,swollen left / right knee (DTD)
14749,2016-02-10,Spurs,NaN,Matt Bonner,placed on IL with strained left calf
26439,2020-02-20,Warriors,Kevon Looney,NaN,returned to lineup
2466,2011-04-12,Bucks,NaN,Andrew Bogut,arthroscopic surgery on right elbow to remove ...
20099,2017-12-15,Nets,NaN,DeMarre Carroll,rest (DTD)

In [6]:
simple_df.describe()

              Date  Team      Acquired  Relinquished              Notes
count          100   100            27            73                100
unique          94    28            27            69                 65
top     2020-02-20  Nets  Damian Jones  Tyreke Evans  activated from IL
freq             2     9             1             2                 19

In [7]:
# muestra sistematica
ini = 1537
step = 84
sistem_df = injuries_df[ini:len(injuries_df):step]
sistem_df

,Date,Team,Acquired,Relinquished,Notes
1537,2011-02-10,Nuggets,NaN,Melvin Ely,placed on IL
1621,2011-02-16,Cavaliers,Alonzo Gee,NaN,activated from IL
1705,2011-02-25,Cavaliers,NaN,Semih Erden,placed on IL
1789,2011-02-28,Nuggets,Kenyon Martin,NaN,activated from IL
1873,2011-03-06,Knicks,NaN,Bill Walker,placed on IL with sore left knee
...,...,...,...,...,...
26737,2020-03-11,Pistons,NaN,Bruce Brown,sprained right ankle (out for season)
26821,2020-07-31,Wizards,Isaac Bonga,NaN,activated from IL
26905,2020-08-08,Thunder,Mike Muscala,NaN,activated from IL
26989,2020-08-12,Thunder,Nerlens Noel,NaN,activated from IL
27073,2020-08-26,Raptors,NaN,Kyle Lowry,sprained left ankle (DTD)

In [8]:
sistem_df.describe()

              Date     Team     Acquired      Relinquished              Notes
count          305      305           99               206                305
unique         305       31           93               176                136
top     2013-01-25  Raptors  Austin Daye  Chauncey Billups  activated from IL
freq             1       17            2                 4                 81

In [10]:
injuries_df['Team'].value_counts()

Spurs           1163
Bucks           1068
Warriors        1060
Rockets         1058
Raptors         1044
Celtics         1040
Nets            1024
Heat            1023
Cavaliers       1001
Mavericks        992
Hawks            975
Nuggets          966
Lakers           959
Knicks           943
76ers            910
Wizards          875
Grizzlies        875
Timberwolves     860
Jazz             841
Magic            834
Pacers           831
Bulls            791
Suns             733
Kings            728
Hornets          719
Clippers         718
Thunder          717
Pistons          714
Blazers          695
Pelicans         576
Bobcats          369
Bullets            1
Name: Team, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest = train_test_split(injuries_df, test_size=0.20, stratify=injuries_df[['Team']])
Xtrain

ValueError: Input contains NaN