# Nivel 1

## Ejercicio 1

### *Coge un conjunto de datos de tema deportivo que te guste. Realiza un muestreo de los datos generando una muestra aleatoria simple y una muestra sistematica*

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
# base de datos extraida de kaggle.com sobre lesiones en la NBA entre los años 2010 y 2020
injuries_df = pd.read_csv('injuries_2010-2020.csv')
injuries_df

,Date,Team,Acquired,Relinquished,Notes
0,2010-10-03,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,NaN,Jonas Jerebko,torn right Achilles tendon (out indefinitely)
2,2010-10-06,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,NaN,Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)
...,...,...,...,...,...
27100,2020-09-30,Lakers,Dion Waiters,NaN,activated from IL
27101,2020-10-02,Heat,NaN,Bam Adebayo,strained neck (DTD)
27102,2020-10-02,Heat,NaN,Goran Dragic,placed on IL with torn plantar fascia in left ...
27103,2020-10-02,Heat,Chris Silva,NaN,activated from IL
27104,2020-10-06,Heat,Bam Adebayo,NaN,returned to lineup

In [3]:
injuries_df.describe()

              Date   Team     Acquired Relinquished              Notes
count        27105  27103         9542        17560              27105
unique        2103     32         1111         1156               3114
top     2014-04-16  Spurs  Dwyane Wade   Kevin Love  activated from IL
freq            76   1163           54          101               7342

In [4]:
# muestra aleatoria simple
simple_df = injuries_df.sample(100)
simple_df

,Date,Team,Acquired,Relinquished,Notes
18837,2017-04-16,Wizards,NaN,Chris McCullough,placed on IL (out for season)
23385,2019-01-04,Clippers,NaN,Milos Teodosic,knee injury (DTD)
6106,2013-01-19,Timberwolves,NaN,Alexey Shved,sprained left ankle (DNP)
14734,2016-02-09,Wizards,Kris Humphries,NaN,activated from IL
10506,2014-10-29,Pistons,NaN,Cartier Martin,placed on IL with strained right foot
...,...,...,...,...,...
17146,2017-01-06,Cavaliers,Kevin Love,NaN,returned to lineup
11035,2014-12-08,Jazz,Alec Burks,NaN,activated from IL
7830,2013-11-16,Heat,NaN,Udonis Haslem,back spasms (DNP)
23079,2018-12-13,Suns,Jamal Crawford,NaN,returned to lineup
5311,2012-11-19,Hawks,NaN,Johan Petro,placed on IL

In [5]:
simple_df.describe()

              Date       Team    Acquired Relinquished              Notes
count          100        100          37           63                100
unique          95         28          35           60                 51
top     2012-02-17  Cavaliers  Kevin Love  Brook Lopez  activated from IL
freq             2          9           2            2                 22

In [7]:
# muestra sistematica
ini = 1537
step = 84
sistem_df = injuries_df[ini:len(injuries_df):step]
sistem_df

,Date,Team,Acquired,Relinquished,Notes
1537,2011-02-10,Nuggets,NaN,Melvin Ely,placed on IL
1621,2011-02-16,Cavaliers,Alonzo Gee,NaN,activated from IL
1705,2011-02-25,Cavaliers,NaN,Semih Erden,placed on IL
1789,2011-02-28,Nuggets,Kenyon Martin,NaN,activated from IL
1873,2011-03-06,Knicks,NaN,Bill Walker,placed on IL with sore left knee
...,...,...,...,...,...
26737,2020-03-11,Pistons,NaN,Bruce Brown,sprained right ankle (out for season)
26821,2020-07-31,Wizards,Isaac Bonga,NaN,activated from IL
26905,2020-08-08,Thunder,Mike Muscala,NaN,activated from IL
26989,2020-08-12,Thunder,Nerlens Noel,NaN,activated from IL
27073,2020-08-26,Raptors,NaN,Kyle Lowry,sprained left ankle (DTD)

In [8]:
sistem_df.describe()

              Date     Team     Acquired      Relinquished              Notes
count          305      305           99               206                305
unique         305       31           93               176                136
top     2011-02-28  Raptors  James Young  Chauncey Billups  activated from IL
freq             1       17            2                 4                 81

# Nivel 2

## Ejercicio 2

### *Continua con el conjkunto de datos de tema deportivo y genera una muestra estratificada y una muestra utilizando SMOTE (Synthetic Minority Oversampling Technique)*